<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwitBy | Welcome</title>
</head>
<body>

    <div>
        <a href="/session">Inicia Sesion</a>
        <a href="/register">Registrate</a>
    </div>
    
</body>
</html>